.inside{
    /* imagen de fondo */
    background-image: url(../../../shared/media/2560_3000inside.jpg);
    background-position: center;
    /* Centro */
    background-size: auto;
    /* Ajuste automático */
    background-size: cover;
    /* Escalar sin recortar */
    background-attachment: fixed;
    /*normalizar*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
img.nfimg {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: center;
}

h1.nfh1 {
    color: crimson;
    font-size: large;
    text-align: center;
}
input.inputtabla {
    border: none;
    background: transparent;
    color: white;
}

input.inputtabla:hover {
    border: none;
    background: seagreen;
    color: white;
}
