@import "../menu/menu.css";
@import "../../app/componentes/home/home.css";
@import "../../app/componentes/seguridad/seguridad.css";
@import "../../app/componentes/monedas/monedas.css";
@import "../../app/componentes/mesatrabajo/mesa.css";
@import "../../app/componentes/notfound/notfound.css";
@import "../../app/componentes/documentos/documento.css";
@import "../../app/componentes/proveedores/proveedores.css";
@import "../../app/componentes/cheques/cheque.css";
@import "../../app/componentes/movimientos/movimientos.css";
@import "../../app/componentes/bancos/banco.css";
@import "../../app/componentes/proveedores/proveedores.css";
@import "../../app/componentes/usuarios/usuario.css";

html, body {
    /*normalizar*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app{
    height: 100%;
}