<div class="inside">
    <div class="container-fluid">
        <menu-item></menu-item>
        <router-view></router-view>
        <br>
        <!--{{$data}}-->
        <br>
        <H1 style="text-align-last: center; color: aliceblue;">Ingreso de Movimientos por:</H1>
        <form style=" color: aliceblue; text-align: center;">
            <div v-on:focus="saldo()" class="form-row">
                <div class="form-group col-md-12">
                    <select v-on:focus="saldo()" required v-model="codigoproveedor"
                        title="Proveedor que sera asociado a estas facturas ingresadas"
                        class="form-control muestroprov">
                        <option disabled value="">Selecione Proveedor</option>
                        <option v-for="(codigoproveedor,index) in devuelvoproveedor" v-bind:value="codigoproveedor">
                            Nº: {{codigoproveedor.idpro}} || Razon Social: {{codigoproveedor.razon}} || Moneda del
                            proveedor -> {{codigoproveedor.moneda}} ||| Saldos: ||| Inicial ->
                            {{codigoproveedor.saldoinicial}} ||||| Saldo Actual -> {{codigoproveedor.saldototal}} |||||
                        </option>
                    </select>

                </div>
                <div class="form-group col-md-1">
                    <label for="tipodoc">Tipo Doc.</label>
                    <select v-on:focus="saldo()" required v-model="codigodocumento" id="tipodoc"
                        title="Seleccione el tipo de documento" class="combobaja">
                        <option disabled value="">T. Doc</option>
                        <option v-for="(codigodocumento,index) in devuelvodocumento" v-bind:value="codigodocumento">
                            {{codigodocumento.idtipdoc}} | {{codigodocumento.tipodoc}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-1">
                    <label for="nrofac">Nº Fac.</label>
                    <input v-on:focus="saldo()" type="text" required style="text-align: center;" class="form-control movimientofrm"
                        name="nrofac" v-model="registro.nrofac" placeholder="Nº Factura"
                        title="Ingresar número de factura">
                </div>
                <div class="form-group col-md-2">
                    <label for="feching">F. Ingreso</label>
                    <input  v-on:focus="saldo()" type="date" required style="text-align: center; width: 100%;"
                        class="form-control movimientofrm" name="feching" v-model="registro.feching"
                        placeholder="Fecha Ingreso" title="Ingresar fecha de ingreso de factura">
                </div>
                <div class="form-group col-md-2">
                    <label for="fechpag">F. Pago</label>
                    <input v-on:focus="saldo()" type="date" style="text-align: center;width: 100%;" class="form-control movimientofrm"
                        name="fechpag" v-model="registro.fechpag" placeholder="Fecha de Pago"
                        title="Ingresar fecha en que pago de la factura">
                </div>
                <div class="form-group col-md-1">
                    <label for="haber">Importe Fac</label>
                    <input required v-on:focus="saldo()" type="number" style="text-align: center;"
                        class="form-control movimientofrm" name="haber" v-model="registro.haber" placeholder="Haber"
                        title="Importe a pagar">
                </div>
                <!---Dispara Cheques o Monedas-->
                <div class="form-group col-md-1" style="text-align: center;">
                    <div class="checkbox">
                        <label for="cheque" class="Checkbox">Cheque</label>
                        <input v-on:focus="saldo()" type="checkbox" id="cheque" class="form-control"
                            v-model="ventana.cheque" value="false">
                    </div>
                    <!---Fin de Dispara Cheques o Monedas-->
                </div>
                <!-- comienzo de cheques-->
                <template v-if="ventana.cheque">
                    <div class="form-group col-md-1" style=" color: aliceblue; text-align: center;">
                        <label for="nrocheq">Nº Cheque</label>
                        <input v-on:focus="saldo()" required type="text" class="form-control movimientofrm " name="nrocheq"
                            title="Numero de Cheque" v-model="registro.nrocheq" placeholder="Nº de Cheque"
                            style="text-align: center;" required>
                    </div>
                    <div class="form-group col-md-1" style=" color: aliceblue; text-align: center;">
                        <label for="importe">Importe</label>
                        <input v-on:focus="saldo()" required v-on:focus="saldo()" type="number" class="form-control movimientofrm"
                            name="importe" title="Importe del Cheque" v-model="registro.importe"
                            placeholder="Imp.Cheque" style="text-align: center;" required>
                    </div>
                    <div v-on:focus="saldo()" class="form-group col-md-2" style="text-align: center; margin-left: 0px;">
                        <label for="bancocuenta">Banco</label>
                        <select v-on:focus="saldo()" required v-model="codigobanco" id="bancocuenta" class="combobaja">
                            <option style="text-align: center;" disabled value="">Banco</option>
                            <option v-for="(codigobanco,index) in devuelvobanco" v-bind:value="codigobanco" required>
                                {{codigobanco.idbanco}} {{codigobanco.banco}} - {{codigobanco.moneda}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-2" style=" color: aliceblue; text-align: center;">
                        <label for="fechemi">F. Emision</label>
                        <input v-on:focus="saldo()" required type="date" style="text-align: center; width: 100%;"
                            title="Fecha Emision del Cheque" class="form-control movimientofrm" id="fechemi"
                            v-model="registro.fechemi" data-date-format="DD-MM-YYYY" min="1900-01-01" max="2050-31-12"
                            minlength="10" maxlength="10" required>
                    </div>
                    <div class="form-group col-md-2" style=" color: aliceblue; text-align: center;">
                        <label required for="fechpagc">F. Pago</label>
                        <input v-on:focus="saldo()" type="date" title="Fecha de Pago el cheque Emitido / Entregado"
                            style="text-align: center; width: 100%;" class="form-control movimientofrm" id="fechpagc"
                            v-model="registro.fechpagc" data-date-format="DD-MM-YYYY" min="1900-01-01" max="2050-31-12"
                            minlength="10" maxlength="10">
                    </div>
                </template>
                <!--fin de cheques-->
                <div v-if="ventana.cheque==false" class="form-group col-md-1"
                    style="text-align: center; margin-left: 0px;">
                    <label for="moneda">Paga en</label>
                    <select v-on:focus="saldo()" required v-on:focus="saldo()" v-model="codigomoneda" title="Seleccionar en que moneda paga"
                        class="combobaja">
                        <option disabled value="">Moneda</option>
                        <option v-for="(codigomoneda,index) in devuelvomoneda" v-bind:value="codigomoneda">
                            {{codigomoneda.idmon}} {{codigomoneda.moneda}}
                        </option>
                    </select>
                </div>
                <div v-if="ventana.cheque==false" class="form-group col-md-1">
                    <label for="debe">A Pagar</label>
                    <input required v-on:focus="saldo()" type="number" style="text-align: center;"
                        class="form-control movimientofrm" name="debe" v-model="registro.debe" placeholder="Debe"
                        title="Importe a pagar de la factura del proveedor">
                </div>
                <div class="form-group col-md-1">
                    <label for="saldo">Saldo</label>
                    <input v-on:focus="saldo()" type="number" style="text-align: center;"
                        class="form-control movimientofrm" id="saldo" v-model="registro.saldo" placeholder="Saldo"
                        title="Saldo">
                </div>
                <div class="form-group col-md-1">
                    <label for="nrorec">Recibo</label>
                    <input v-on:focus="saldo()" required type="number" style="text-align: center;" class="form-control movimientofrm"
                        name="nrorec" v-model="registro.nrorec" placeholder="Recibo Nº" title="Recibo Nº">
                </div>
                <div class="form-group col-md-8">
                    <label for="observaciones">Observaciones u otro</label>
                    <input v-on:focus="saldo()" type="text" class="form-control movimientofrm" id="observaciones"
                        placeholder="Ingrese observaciones o comentarios" v-model="registro.observaciones">
                </div>
            </div> <!-- fin del panel superior-->
    </div>
    <div class="form-row">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-12" style=" color: aliceblue; text-align: center;">
            <button type="@leave-cancelled=" class="btn btn-info" v-on:click="limpiar()">Limpiar</button>
            <button type="@leave-cancelled=" class="btn btn-danger" v-on:click="cerrarsesion()">Volver</button>
            <button type="submit" class="btn btn-success"
                v-on:click="crearmovimientos() && crearcheques()">Ingresar</button>
        </div>
        </form>

        <!-- Div contenendor general-->
    </div>
</div>