<div class="inside">
<div class="container-fluid">
    <menu-item></menu-item>
    <router-view></router-view>
    <br>
    <br>
    <H1 style="text-align-last: center; color: aliceblue;">Consulta de Articulo</H1>
    <form style="color: aliceblue;">
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="codigo" style="color: aliceblue;">Codigo de Articulo</label>
                <input type="codigo" class="form-control" name="codigo" placeholder="Ingrese cualquiera de los codigos del Articulo"
                v-model="registro.codigo" v-on:keyup.enter="buscarxcodigo(registro.codigo,devuelvoarticulo.idart)" >
            </div>
        <div class="form-row col-md-3">
            <button class="btn btn-info" style="margin-left: 30px;" v-on:click="buscarxcodigo(registro.codigo,devuelvoarticulo.idart)">Buscar</button>
            <button type="@leave-cancelled=" class="btn btn-danger" v-on:click="cerrarsesion()" style="margin-left: 30px;">Volver</button>
        </div>       
    </div>
        </form>
       <br>
    <div class="container-fluid" style="margin-top: 50;">
        <!--comienzo de de tabla-->
        <template>
            <div class="container-fluid" style="text-align: center;">
                <div class="row">
                    <div class="col-mg-12">
                        <div class="table-responsive small table-striped  table-dark">

                            <table class="table-responsive">
                                <thead class="thead-dark">
                                    <tr>
                                        <!--<th scope="col">ID</th>
                                        <th scope="col">Codigo</th>
                                        <th scope="col">Barras</th>-->
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">PvP</th>
                                        <th scope="col">PvPS</th>
                                        <th scope="col">Stock</th>
                                        <th scope="col">Deposito</th>
                                        <th scope="col">Observaciones</th>

                                    </tr>  
                                </thead>
                                <tbody>
                                    <tr v-for="(devuelvoarticulo,index)" style="color: aquamarine;">
<!--
                                        <td><input class="consultatable" type="text" v-model="devuelvoarticulo.codigo"
                                                title="Codigo de articulo"></td>
                                        <td><input class="consultatable" type="text" v-model="devuelvoarticulo.barras"
                                                title="Codigo de barras"></td>-->
                                        <td><input class="consultatable" type="text" v-model="devuelvoarticulo.descipcion"
                                                title="Descripcion del articulo"></td>
                                        <td><input class="consultatable" type="tel" v-model="devuelvoarticulo.pvp"
                                                title="Precio venta publico"></td>
                                        <td><input class="consultatable" type="text" v-model="devuelvoarticulo.pvps"
                                                title="Precio venta publico Sugerido"></td>
                                        <td><input class="consultatable" type="text" v-model="devuelvoarticulo.stock"
                                                title="Stock de articulo"></td>
                                        <td><input class="consultatable" type="text" v-model="devuelvoarticulo.deposito"
                                            title="Deposito del articulo"></td>
                                        <td><input class="consultatable" type="text" v-model="devuelvoarticulo.observaciones"
                                                title="Observaciones"></td>

                                        </td>
                                    </tr>
                                </tbody>
                        </div>
                    </div>
                </div>
            </div>
        </template>

    </div>
    <!--find de tabla-->

</div>
</div>
<!-- Div contenendor general-->
