<div class="inside">
   <div class="container-fluid">
      <menu-item></menu-item>
      <router-view></router-view>
      <!-- Div contenendor general-->
      <div class="row justify-content-center align-items-center" style="margin-top: 100px;">
         <form>
            <H1 style="text-align-last: center; color: aliceblue;">Gestion de Documentos</H1>
            <div class="row">
               <div class="form-group col-md-3"></div>
               <div class="form-group col-md-6">
                  <label for="tipodoc" style=" color: aliceblue; text-align: center;"
                     title="Ingrese el tipo de Documento">Tipo de Documento</label>
                  <input type="text" class="form-control" name="tipodoc" title="Ingrese el tipo de documento"
                     v-model="registro.tipodoc" placeholder="Descripcion del documento" required>
               </div>
               <div class="form-group col-md-4"></div>
               <div class="form-group col-md-4">
                  <select v-model="codigomoneda" class="form-control" required>
                     <option disabled value="">Moneda del documento</option>
                     <option v-for="(codigomoneda,index) in devuelvomoneda" v-bind:value="codigomoneda">
                        {{codigomoneda.idmon}} {{codigomoneda.moneda}}
                     </option>
                  </select>
               </div>


               <div class="form-group col-md-3"></div>
               <div class="form-group col-md-12" style=" color: aliceblue; text-align: center;">
                  <button type="@leave-cancelled=" class="btn btn-info" v-on:click="limpiar()">Limpiar</button>
                  <button type="@leave-cancelled=" class="btn btn-danger" v-on:click="cerrarsesion()">Volver</button>
                  <button type="submit" class="btn btn-success" v-on:click="creardocumentos()">Ingresar</button>
               </div>
         </form>
         <div class="container-fluid" style="margin-top: 50;">
            <!--comienzo de de tabla-->
            <template>
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="table-responsive small table-striped accordion table-dark">

                           <table class="table">
                              <thead class="thead-dark" style="text-align: center;">
                                 <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Documento</th>
                                    <th scope="col">Cod - Moneda</th>
                                    <th scope="col">Acciones</th>
                                    <th scope="col">Acciones</th>

                                 </tr>
                              </thead>
                              <tbody>
                                 <tr v-for="(documento,index) in documentos" style="color: aquamarine;">
                                    <td><input class="inputtabla" type="number" v-model="documento.idtipdoc" size="3"
                                          disabled>
                                    </td>
                                    <td><input class="inputtabla" type="text" v-model="documento.tipodoc"
                                          title="Haga click para editar y luego presione el botón Modificar"></td>
                                    <td style="text-align: center;">
                                       <input class="inputtablasm" type="number" v-model="documento.idmon"
                                          title="Haga click para editar y luego presione el botón Modificar"><input
                                          disabled style="text-align: left;" class="inputtabla" type="text"
                                          v-model="documento.moneda">
                                    </td>
                                    <td><button class="btn btn-danger"
                                          v-on:click="eliminardocumentos(index,documento.idtipdoc)">Elimina</button>
                                    </td>
                                    <td><button class="btn btn-success"
                                          v-on:click="actualizardocumentos(index)">Modifica</button>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>

                        </div>
                     </div>
                  </div>
               </div>
            </template>

         </div>
         <!--find de tabla-->
      </div>
   </div>
   <!-- Div contenendor general-->
</div>