<div class="inside">
   <div class="container-fluid">
      <menu-item></menu-item>
      <router-view></router-view>
      <!-- Div contenendor general-->
      <div class="row justify-content-center align-items-center" style="margin-top: 100px;">
         <form>
            <H1 style="text-align-last: center; color: aliceblue;">Gestion de Depositos</H1>
            <div class="form-group col-md-12" style="text-align-last: center;">
               <label for="nombre" style="color: aliceblue;" title="Ingrese el nombe del deposito">Nombre del
                  Deposito</label>
               <input type="text" class="form-control" name="nombres" title="Ingrese el nombe del deposito"
                  v-model="registro.nombre" placeholder="Nombre" v-on:keyup.13="creardepositos()" required>
            </div>
            <div class="form-group col-md-12" style="text-align-last: center;">
               <label for="localizacion" style="color: aliceblue;" title="Ingrese localizacion del deposito">Localizacion del
                  Deposito</label>
               <input type="text" class="form-control" name="localizacion" title="Ingrese localizacon del deposito"
                  v-model="registro.localizacion" placeholder="Localizacion">
            </div>
            <div class="form-group col-md-12" style="text-align-last: center;">
               <label for="observaciones" style="color: aliceblue;" title="Ingrese Observaciones">Observaciones</label>
               <input type="text" class="form-control" name="observaciones" title="Observaciones"
                  v-model="registro.observaciones" placeholder="Observaciones">
            </div>
            <div class="form-row">
               <div class="form-group col-md-6" style="text-align: center;">
                  <label title="Deposito principal" for="deposito" style=" color: aliceblue;">Principal</label>
                  <input title="Principal" type="checkbox" class="form-control inputformu" id="Principal" v-model="registro.principal">
               </div>
               <div class="form-group col-md-6" style="text-align: center;">
                  <label for="activo" style=" color: aliceblue;">Activo</label>
                  <input type="checkbox" class="form-control" id="activo" v-model="registro.activo">
               </div>
            </div>
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-12" style=" color: aliceblue; text-align: center;">
               <button type="@leave-cancelled=" class="btn btn-info" v-on:click="limpiar()">Limpiar</button>
               <button type="@leave-cancelled=" class="btn btn-danger" v-on:click="cerrarsesion()">Volver</button>
               <button type="submit" class="btn btn-success" v-on:click="creardepositos()">Ingresar</button>
            </div>
         </form>
         <!--comienzo de de tabla-->
         <template>
            <div class="table-responsive small table-striped accordion table-dark">
               <table class="table">
                  <thead class="thead-dark">
                     <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Localizacion</th>
                        <th scope="col">Observaciones</th>
                        <th scope="col">Principal</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Acciones</th>
                        <th scope="col">Acciones</th>

                     </tr>
                  </thead>
                  <tbody>
                     <tr v-for="(depositos,index) in depositos" style="color: aquamarine;">
                        <td><input class="inputtabla" type="text" v-model="depositos.iddep" size="3" disabled></td>
                        <td><input class="inputtabla" type="text" v-model="depositos.nombres"
                              title="Haga click para editar y luego presione el botón Modificar"></td>
                        <td><input class="inputtabla" type="text" v-model="depositos.localizacion"></td>
                        <td><input class="inputtabla" type="text" v-model="depositos.observaciones"></td>
                        <td><input class="inputtabla" type="checkbox" v-model="depositos.principal"></td>
                        <td><input class="inputtabla" type="checkbox" v-model="depositos.activo"></td>
                        <td><button class="btn btn-danger"
                              v-on:click="eliminardeposito(index,depositos.iddep)">Elimina</button></td>
                        <td><button class="btn btn-success" v-on:click="actualizardepositos(index)">Modifica</button>
                        </td>
                     </tr>
                  </tbody>
               </table>

            </div>

         </template>

      </div>
      <!--find de tabla-->
   </div>
</div>
<!-- Div contenendor general-->
</div>