<div class="inside">
   <div class="container-fluid">
      <menu-item></menu-item>
      <router-view></router-view>
      <!-- Div contenendor general-->
      <H1 style="text-align-last: center; color: aliceblue;">Cotizacion de Monedas</H1>

      <div class="row justify-content-center align-items-center" >
         <form>
            <form class="form-row">
               <div class="form-group col-md-4">
                  <label for="fechcot" style="color: aliceblue; text-align: center;" title="Fecha cotizacion">Fecha</label>
                  <input type="date" data-date-format="DD-MM-YYYY" min="01-01-2000" max="31-12-2050"
                     class="form-control" name="fechcot" v-model="registro.fechcot">
               </div>
               <div class="form-group col-md-4">
                  <label for="tipodoc" style="color: aliceblue;" title="Ingrese el tipo de Cotizacion">Cotizacion</label>
                  <input type="number" step="any" class="form-control" name="cotizacion" v-model="registro.cotizacion" placeholder="Valor de la cotizacion" title="Valor de la cotizacion del día" required>
               </div>
               <div class="form-group col-md-4">
                  <label for="codigomoneda" style="color: aliceblue;" title="x 1">Moneda</label>
                  <select v-model="codigomoneda" class="form-control"
                     style="width: 100%;" required>
                     <option disabled value="">Seleccione</option>
                     <option v-for="(codigomoneda,index) in devuelvomoneda" v-bind:value="codigomoneda">
                        {{codigomoneda.idmon}} {{codigomoneda.moneda}}
                     </option>
                  </select>
               </div>
            </form>
            <div class="form-group col-md-12" style="text-align: center;">
               <label for="deldia" style=" color: aliceblue;">Del Dia</label>
               <input type="checkbox" class="form-control inputformu" id="deldia" v-model="registro.deldia">
            </div>
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-12" style=" color: aliceblue; text-align: center;">
               <button type="@leave-cancelled=" class="btn btn-info" v-on:click="limpiar()">Limpiar</button>
               <button type="@leave-cancelled=" class="btn btn-danger" v-on:click="cerrarsesion()">Volver</button>
               <button type="submit" class="btn btn-success" v-on:click="crearcotizaciones()">Ingresar</button>
            </div>
         </form>
         <!--comienzcomienzo de de tabla-->
      </form>
      <div class="container-fluid" style="margin-top: 50;">

         <template>
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="table-responsive small table-striped accordion table-dark">

                        <table class="table">
                           <thead class="thead-dark" style="text-align: center;">
                              <tr>
                                 <th scope="col">ID</th>
                                 <th scope="col">Fecha Cotizacion</th>
                                 <th scope="col">Moneda</th>
                                 <th scope="col">Cotizacion</th>
                                 <th scope="col">Del Dia</th>
                                 <th scope="col">Acciones</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr v-for="(cotizacion,index) in cotizaciones" style="color: aquamarine;">
                                 <td><input class="inputtabla" type="number" v-model="cotizacion.idcot" size="3"
                                       disabled>
                                 </td>
                                 <td><input class="inputtabla" type="date" data-date-format="DD-MM-YYYY"
                                       min="1900-01-01" max="2050-31-12" minlength="10" maxlength="10"
                                       v-model="cotizacion.fechcot" disabled></td>
                                 <td><input class="inputtabla" type="text" v-model="cotizacion.moneda" disabled></td>
                                 <td><input class="inputtabla" type="number" step="any" v-model="cotizacion.cotizacion" disabled>
                                 </td>
                                 <td><input class="inputtabla" type="checkbox" v-model="cotizacion.deldia" disabled>
                                 </td>
                                 <td><button class="btn btn-danger"
                                       v-on:click="eliminarcotizacion(index,cotizacion.idcot)">Eliminar</button></td>

                              </tr>
                           </tbody>
                        </table>

                     </div>
                  </div>
               </div>
            </div>
         </template>
         </form>
      </div>
      <!--find de tabla-->
   </div>
</div>
<!-- Div contenendor general-->
</div>